* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

/* --------------------------
 * Element Styles
 * --------------------------
*/

body {
  min-width: 320px;
  background-color: #fff;
  color: #6d6d6d;
  line-height: 1.6;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  color: rgb(75, 75, 75);
}

h3 {
  font-size: 1.25em;
}

h4 {
  font-size: 1.125em;
}

a {
  color: #3b8bba;
  text-decoration: none;
}

a:visited {
  color: #265778;
}

footer {
  margin-top: 3em;
}

.layout {
  padding: 1em 0;
}

.main-menu {
  padding: 2em 0;
  margin-bottom: 2.5em;
}

.header {
  max-width: 768px;
  padding: 0 3em 2em 1em;
  letter-spacing: 0.05em;
  margin-bottom: 1.5em;
}

.header h1 {
  font-size: 175%;
  font-weight: 100;
  margin-bottom: .5em;
}

.post-content h2 {
  font-size: 135%;
}

.post-content p {
  font-size: 1.115em;
}

.post-tag {
  margin: 0 0.1em;
  padding: 0.3em 1em;
  color: #fff;
  background: #999;
  font-size: 80%;
}

.content {
  margin-left: auto;
  margin-right: auto;
  padding-left: 3em;
  padding-right: 3em;
  max-width: 1440px;
}

/* --------------------------
 * Responsive Styles
 * --------------------------
*/

@media screen and (min-width: 48em) {
  .layout {
    padding: 2em 0;
  }

  .content {
    padding-left: 17em;
    padding-right: 17em;
  }
  .header h1 {
    font-size: 250%;
  }
  .post-content h2 {
    font-size: 150%;
  }
  .post-content p {
    font-size: 1.125em;
  }
}
